<div class="container">
    <h2>This is a Developer Test for Amaris Consulting</h2>
    <p><strong>Author:</strong> Diego Fernando Forero Cruz, +57 (301) 786 6437, df.foreroc&#64;uniandes.edu.co</p>
    <p>The application requirements are:</p>
    <ol>
        <li>Create an MVC application. I chose to develop a Spring Boot application</li>
        <li>The application must be delivered in a WAR file</li>
        <li>The application must be deploy-able in a Wildfly Server or Spring boot auto container</li>
        <li>The application must use JDK 1.8+</li>
        <li>Create a Data Access Layer to consume the following REST APIs:
          <ul>
            <li>http://dummy.restapiexample.com/api/v1/employees</li>
            <li>http://dummy.restapiexample.com/api/v1/employee/1</li>
          </ul>
        </li>
        <li>Create a Business class (EJB, for example) to compute the following value:
          <ul>
            <li>employee_anual_salary = employee_salary x 12</li>
          </ul>
        </li>
        <li>Create a Controller Class with methods to return the employees list and employee data by
            ID</li>
        <li>Create a view to show the employee information, the view must present the following
            components and behavior:
            <ul>
                <li>One text box, where the user can input the employee ID</li>
                <li>One button to execute the Employee search</li>
                <li>If the input text box is empty, the search result must return the complete employee list</li>
                <li>If the text box contains a valid employee ID, the search result must return the particular
                    employee information</li>
                <li>The returned employee list must be shown in a table or grid, including the
                    employee_anual_salary computation</li>
            </ul>
        </li>
        <li>User Interface Guidelines: I chose to develop an Angular application
            <ul>
                <li>The application must use Bootstrap or Material Design</li>
                <li>The application must contain a Menu and brand Image</li>
            </ul>
        </li>
        <li>The application must include Unitary Tests for at least one of the Business Layer methods.
            Using JUnit5</li>
      </ol>
</div>
